<div class="grid_16 alpha omega">
	<div id="chart-last6" style="width: 780px; height: 260px; background: lightblue">x</div>
</div>
<div class="clear"></div>


<div class="grid_16 alpha omega">&nbsp;</div>
<div class="clear"></div>

<div class="alpha grid_4">
	<h3 class="block">Menu</h3>
	<ul class="menu">
		<li><a href="#/current/all" class="icon i-current">All current logins</a></li>
		<li><a href="#/current/staff" class="icon i-staff">Current staff users</a></li>
		<li><a href="#/current/students" class="icon i-student">Current student users</a></li>
		<li><a href="#/current/duplicate" class="icon i-duplicate">Duplicate logins</a></li>
		<li><a href="#/notifications" class="icon i-notification">Configure notifications</a></li>
	</ul>
</div>


<div class="grid_4">
	<h3 class="block">Users</h3>
	<form method="post" action="#/search">
		<input type="hidden" name="type" value="user" />
		<input type="text" name="q" />
		<input type="submit" value="find" />
	</form>
</div>


<div class="grid_4">
	<h3 class="block">Computers</h3>
</div>


<div class="omega grid_4">
	<h3 class="block">Locations</h3>
</div>

<div class="clear"></div>