<table id="table" class="list">		<%	for(var s in data.sessions){		var session = data.sessions[s];	%>		<tr class="stripe<%= (s & 1) %>">			<td><%= session.active_img %></td>		<td><%= session.username %></td>		<td><%= session.computer %></td>		<td><%= session.location %></td>		<td><%= session.login_time %></td>		<td><%= session.logout_time %></td>		<td><%= session.length %></td>		<td><%= session.type %></td>		</tr>		<% } %>	</table><br /><p class="pagedata">Page <%= data.page %> of <%= Math.round(data.total / data.rp) %>.</p><%var prevnum = parseInt(data.page) - 1;var nextnum = parseInt(data.page) + 1;var uri = window.location.hash;var re = new RegExp(/[0-9]+$/);var prevlink = uri.replace(re, prevnum);var nextlink = uri.replace(re, nextnum);%><p><a href="<%= prevlink %>">&larr; Prev</a> | <a href="<%= nextlink %>">Next &rarr;</a></p>